{%- set version_parts = script_data.selectedVersion.split('.') -%}
{%- set is_version_ge_3_13 = version_parts|map('int')|list >= [3, 13, 0] -%}

{%- set config_options = [] -%}
{%- if script_data.enableSpeedOptimization %}
    {%- set _ = config_options.append('--enable-optimizations --with-lto --with-computed-gotos --with-system-ffi') %}
{%- endif %}
{%- if script_data.enableSharedLibraries %}
    {%- set _ = config_options.append('--enable-shared') %}
{%- endif %}
{%- if is_version_ge_3_13 and script_data.disableGIL %}
    {%- set _ = config_options.append('--disable-gil') %}
{%- endif %}
{%- if is_version_ge_3_13 and script_data.enableJIT %}
    {%- set _ = config_options.append('--enable-experimental-jit') %}
{%- endif %}

#!/bin/bash

{%- if script_data.installOSPackages %}

# Install required OS packages
sudo apt-get update && sudo apt-get install -y build-essential zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev
{%- endif %}

cd /tmp/
wget https://www.python.org/ftp/python/{{ script_data.selectedVersion }}/Python-{{ script_data.selectedVersion }}.tgz
tar xzf Python-{{ script_data.selectedVersion }}.tgz
cd Python-{{ script_data.selectedVersion }}

sudo ./configure --prefix={{ script_data.prefixPath }}{{ script_data.selectedVersion }} \
{%- for option in config_options %}
    {{ option }}{% if not loop.last %} \{% endif %}
{%- endfor %}

{%- if not is_version_ge_3_13 and script_data.disableGIL %}
# You selected to enable free threaded but that is only available on 3.13+!
{%- endif %}
{%- if not is_version_ge_3_13 and script_data.enableJIT %}
# You selected to enable the experimental JIT but that is only available on 3.13+!
{%- endif %}

{%- if script_data.useAllCPUs %}

# Use all CPUs
sudo make -j "$(nproc)"
{%- else %}
sudo make
{%- endif %}

{%- if script_data.runPostTest %}

# Run tests
sudo ./python{{ script_data.selectedVersion }} -m test
{%- endif %}

sudo make altinstall
sudo rm /tmp/Python-{{ script_data.selectedVersion }}.tgz

{%- if script_data.updatePackages %}

# Update seed packages
sudo {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python{{ script_data.selectedVersion }} -m pip install --upgrade pip setuptools wheel
{%- endif %}

{%- if script_data.addSoftLinks %}

# Add symlinks
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python3
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pip{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pip3
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pip{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pip
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pydoc{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/pydoc
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/idle{{ script_data.selectedVersion }} {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/idle
sudo ln -s {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python{{ script_data.selectedVersion }}-config {{ script_data.prefixPath }}{{ script_data.selectedVersion }}/bin/python-config
{%- endif -%}